*.pt
*.json
*.bin
*.pth
*.csv
*.html
*.pdf
*.pem
*.pem
*.xlsx
*.txt
*.jsonl
*.docx
*.tar
*.zip
*.tiff
*.tex
*.log
*.eps
*.aux
*.bbl
*.bcf
*.blg
*.ps
*.xml
*.gz
*.out
*.svg
zero_shot_results_old.csv
compare_supervised_results.R
zero_shot_results_new.csv
analysis_results_new.csv
analysis_results_old.csv
res_8_11/