*.pt
*.json
*.bin
*.pth
*.csv
*.html
*.pdf
*.pem
*.pem
*.xlsx
*.txt
*.jsonl
*.docx
*.tar
models/llama_finetuned_11_26/llama_3_2_3b_tuned_nominate_biden.zip
*.zip
*.tiff
*.tex
*.log
*.eps
*.aux
*.bbl
*.bcf
*.blg
*.ps
*.xml
*.gz
*.out
